body {
 font-family: 'Montserrat', sans-serif;
 background-color: black;
 color: #fff;
}

h1 {
 font-family: 'Roboto', sans-serif;
 font-weight: 100;
}

@media (max-width : 576px) {
  h1 {
    font-size: 30px;
   }
  }

h3 {
 font-family: 'Roboto', sans-serif;
 font-weight: 900;
}

/* Navbar */
.navbar {
 background-color:rgba(0,0,0,.2)
}

.navbar img {
 width: 4%;
 margin-right: 10px;
}

@media (max-width : 576px) {
  .navbar img {
    width: 15%;
   }

  .navbar a {
    font-size: 16px;
    margin-right: 1px;
  }
}

.tooltip {
  width: 200px;
  font-size: 1.5rem;
  font-family: 'Montserrat';
  font-weight: 900;
  text-transform: uppercase;
}

